<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>All processes</strong></h3>
	</div>
	<div class="panel-body">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Key</th>
					<th>Name</th>
					<th>Type</th>
					<th>Initier</th>
					<th>State</th>
					<th>Activity</th>
				</tr>
			</thead>
			<tbody>
			#foreach( $entry in $entity.entries )
				<tr>
					<td>$foreach.count</td>
					<td>$entry.key</td>
					<td>$entry.name</td>
					<td>$entry.type</td>
					<td>$entry.initier</td>
					<td>$entry.state</td>
					<td>$entry.activity</td>
				</tr>
			#end
			</tbody>
		</table>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Create a new import-workspace process</strong></h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" action="./processes" method="post" enctype="multipart/form-data">
			<input type="hidden" id="process-type" name="process-type" value="import-workspace"/>
			<div class="form-group">
				<label for="process-name" class="col-sm-2 control-label">Process Name</label>
				<div class="col-sm-4">
					<input type="text" class="form-control input-sm" id="process-name" name="process-name" placeholder="Enter Process Name"/>
				</div>
			</div>
			<div class="form-group">
				<label for="wskey" class="col-sm-2 control-label">Workspace ID</label>
				<div class="col-sm-4">
					<input type="text" class="form-control input-sm" id="wskey" name="wskey" placeholder="Enter Workspace ID"/>
				</div>
			</div>
			<div class="form-group">
				<label for="wstype" class="col-sm-2 control-label">Workspace Type</label>
				<div class="col-sm-4">
					<input type="text" class="form-control input-sm" id="wstype" name="wstype" placeholder="Enter Workspace Type"/>
				</div>
			</div>
			<div class="form-group">
				<label for="wsname" class="col-sm-2 control-label">Workspace Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control input-sm" id="wsname" name="wsname" placeholder="Enter Workspace Name"/>
				</div>
			</div>
			<div class="form-group">
				<label for="bag-hash" class="col-sm-2 control-label">Workspace Bag</label>
				<div class="col-sm-8">
					<input type="file" id="bagpath" name="bagpath"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default btn-sm">Start Process</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Start Publish Workspace Process</strong></h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" action="./processes" method="post">
			<input type="hidden" id="process-type" name="process-type" value="publish-workspace"/>
			<div class="form-group">
				<label for="process-name" class="col-sm-2 control-label">Process Name</label>
				<div class="col-sm-4">
					<input type="text" class="form-control input-sm" id="process-name" name="process-name" placeholder="Enter Process Name"/>
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Workspace Key</label>
				<div class="col-sm-4">
					<input type="text" class="form-control input-sm" id="workspace-key" name="workspace-key" placeholder="Enter Workspace Key"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default btn-sm">Start Process</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!--
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Create a new simple-publish process</strong></h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" action="" method="post">
			<input type="hidden" id="definition" name="definition" value="simple-publish"/>
			<div class="form-group">
				<label for="keys" class="col-sm-2 control-label">Keys</label>
				<div class="col-sm-8">
					<input type="text" class="form-control input-sm" id="key" name="keys" placeholder="Enter Keys to publish"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default btn-sm">Start Simple Publish  Process</button>
				</div>
			</div>
		</form>
	</div>
</div>
-->