<div class="panel panel-default">
  <div class="panel-heading">
  	<h3 class="panel-title"><strong>Available process types</strong></h3>
  </div>
  <table class="table table-condensed table-hover">
	 <thead>
	   	<tr>
	   		<th>#</th>
	   		<th>Id</th>
	   		<th>Name</th>
	   		<th>Version</th>
	   		<th>Suspended</th>
	  	</tr>
	 </thead>
	 <tbody>
	 #foreach( $entry in $entity.entries )
		#set( $count = $foreach.count + $entity.offset - 1 )
		<tr>
			<td>$count</td>
			<td>$entry.id</td>
			<td>$entry.name</td>
			<td>$entry.version</td>
			<td>$entry.suspended</td>
	   	</tr>
	 #end
	 </tbody>
  </table>
</div>