<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Browsing '$entity.workspace' workspace elements</strong></h3>
	</div>
	<div class="panel-body">
		<div class="panel-body">
			<ol class="breadcrumb">
				#if ( $entity.pathParts.size() == 0 )
					<li><a href="../$entity.workspace">$params.get('root').get(0)</a></li> <li>root</li>
				#else  
					<li><a href="../$entity.workspace">$params.get('root').get(0)</a></li> <li><a href="?root=$params.get('root').get(0)&path=/">root</a></li>
					#set( $current = "" )
					#foreach( $part in $entity.pathParts )
						#set( $current = "$current/$part" )
						#if ($foreach.count < $entity.pathParts.size() ) 
							<li><a href="?root=$params.get('root').get(0)&path=$current">$part</a></li>
						#else
							<li>$part</li>
						#end
					#end
				#end
			</ol>
			<div class="row">
				<div class="col-md-12"><p class="text-left"><strong>Informations</strong></p></div>
			</div>
			<div class="well well-sm">
				<div class="row">
					<div class="col-md-2"><p class="text-right"><strong>Key</strong></p></div>
					<div class="col-md-10">$entity.key</div>
				</div>
				<div class="row">
					<div class="col-md-2"><p class="text-right"><strong>Name</strong></p></div>
					<div class="col-md-10">$entity.name</div>
				</div>
				<div class="row">
					<div class="col-md-2"><p class="text-right"><strong>Type</strong></p></div>
					<div class="col-md-10"><em>($entity.mimeType)</em> $entity.type #if ($entity.format) - declared format: $entity.format #end</div>
				</div>
				<div class="row">
					<div class="col-md-2"><p class="text-right"><strong>Description</strong></p></div>
					<div class="col-md-10">$!entity.description</div>
				</div>
				<div class="row">
					<div class="col-md-2"><p class="text-right"><strong>Dates</strong></p></div>
					<div class="col-md-10">clock: $entity.clock - created on $entity.creation - modified on $entity.modification</div>
				</div>
				#if ( $entity.preview )
					#if ( $entity.preview.length() > 0 ) 
						<div class="row">
							<div class="col-md-2"><p class="text-right"><strong>Preview hash</strong></p></div>
							<div class="col-md-10">$entity.preview [<a href="#">download preview</a>]</div>
						</div>
					#end
				#end
				#if ( $entity.stream )
					#if ( $entity.stream.length() > 0 ) 
						<div class="row">
							<div class="col-md-2"><p class="text-right"><strong>Content hash</strong></p></div>
							<div class="col-md-10">$entity.stream  [<a href="./download?root=$params.get('root').get(0)&path=$params.get('path').get(0)&metadata=$!params.get('metadata').get(0)">download content</a>]</div>
						</div>
					#end
				#end
			</div>
			#if ( $entity.type != "metadata" )
				<div class="row">
					<div class="col-md-12"><p class="text-left"><strong>Metadatas</strong></p></div>
				</div>
				<div class="well well-sm">
					#if ( $entity.metadatas.size() > 0 ) 
						#foreach( $metadata in $entity.metadatas )
							<div class="row">
								<div class="col-md-1"><p class="text-right"><strong>$foreach.count</strong></p></div>
								<div class="col-md-9">$metadata.name</div>
								<div class="col-md-2"><div class="btn-group"><a class="btn btn-default btn-xs" href="?root=$params.get('root').get(0)&path=$entity.path&metadata=$metadata.name">view</a></div></div>
							</div>
						#end
					#else
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-11"><p class="text-left"><em>Element does not hold metadata</em></p></div>
						</div>
					#end
				</div>
			#end
			#if ( $entity.type == "collection" )
				<div class="row">
					<div class="col-md-12"><p class="text-left"><strong>Children</strong></p></div>
				</div>
				<div class="well well-sm">
					#if ( $entity.elements.size() > 0 )
						#foreach( $element in $entity.elements )
							#set( $path = "$entity.path/$element.name" )
							<div class="row">
								<div class="col-md-1"><p class="text-right"><strong>$foreach.count</strong></p></div>
								<div class="col-md-2"><em>$element.type</em></div>
								<div class="col-md-9"><a href="?root=$params.get('root').get(0)&path=$path">$element.name</a></div>
							</div>
						#end
					#else
						<div class="row">
							<div class="col-md-12"><p class="text-left"><em>Collection is empty</em></p></div>
						</div>
					#end
				</div>
			#end
		</div>
	</div>
</div>
