<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Showing workspace '$entity.key'</strong></h3>
  </div>
  <div class="panel-body">
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Name</strong></p></div>
	  <div class="col-md-10">$entity.name</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Type</strong></p></div>
	  <div class="col-md-10">$entity.type</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Clock</strong></p></div>
	  <div class="col-md-10">$entity.clock</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Changed</strong></p></div>
	  <div class="col-md-10">$entity.changed</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Member's group</strong></p></div>
	  <div class="col-md-10">$entity.members</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Head reference</strong></p></div>
	  <div class="col-md-10"><a href="$entity.key/elements?root=head&path=/">$entity.head</a></div>
    </div>
    #if( $entity.snapshots.size() == 0 )
    <div class="row">
		<div class="col-md-2"><p class="text-right"><strong>Snapshots</strong></p></div>
		<div class="col-md-10">no snapshots in this workspace</div>
	</div> 
    #else
	    #foreach( $snapshot in $entity.snapshots )
	    <div class="row">
		  <div class="col-md-2">#if( $foreach.first )<p class="text-right"><strong>Snapshots</strong></p>#end</div>
		  <div class="col-md-10"><a href="$entity.key/elements?root=$snapshot.name&path=/">$snapshot.name</a></div>
	    </div>
	    #end
	#end
  </div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Create a snapshot</strong></h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" action="${entity.key}/snapshots" method="post">
			<div class="form-group">
				<label for="snapshotname" class="col-sm-2 control-label">Snapshot Name</label>
				<div class="col-sm-4">
					<input type="text" class="form-control input-sm" id="snapshotname" name="snapshotname" placeholder="Enter snapshot name"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default btn-sm">Snapshot Workspace</button>
				</div>
			</div>
		</form>
	</div>
</div>