<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Profile's keys</strong></h3>
	</div>
	<div class="panel-body">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Key</th>
				</tr>
			</thead>
			<tbody>
			#foreach( $entry in $entity )
				<tr>
					<td>$foreach.count</td>
					<td>$entry</td>
				</tr>
			#end
			</tbody>
		</table>
	</div>
</div>