<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Registry Informations for key [$entity.key]</strong></h3>
  </div>
  <div class="panel-body">
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Service/Type/ID</strong></p></div>
	  <div class="col-md-10">$entity.service / $entity.type / $entity.id</div>
    </div>
    <div class="row">
      <div class="col-md-2"><p class="text-right"><strong>Owner</strong></p></div>
  	  <div class="col-md-10"><a href="./$entity.owner">$entity.owner</a></div>
    </div>
    #if( $entity.permissions.size() == 0 ) 
    <div class="row">
      <div class="col-md-2"><p class="text-right"><strong>Permissions</strong></p></div>
      <div class="col-md-10"><em>no specific permissions</em></div>
    </div>
    #end
    #foreach( $subject in $entity.permissions.keySet() )
    <div class="row">
      <div class="col-md-2">#if( $foreach.first )<p class="text-right"><strong>Permissions</strong></p>#end</div>
      <div class="col-md-10">$subject: 
			#foreach( $permission in $entity.permissions.get($subject) )
				$permission#if( $foreach.hasNext ), #end
			#end
	  </div>
    </div>
    #end
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>State</strong></p></div>
	  <div class="col-md-10">object is <em>$entity.visibility</em> with status <em>$entity.status</em> #if( $entity.lock != "" ) and locked by <em>$entity.lock</em>#end</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Infos</strong></p></div>
	  <div class="col-md-10">created by <a href="./$entity.author">$entity.author</a> on <em>$entity.creationDate</em>, last modified on <em>$entity.lastModificationDate</em></div>
    </div>
    #foreach( $property in $entity.properties.keySet() )
    <div class="row">
      <div class="col-md-2"><p class="text-right"><strong>$property</strong></p></div>
      <div class="col-md-10">$entity.properties.get($property)</div>
    </div>
    #end
  </div>
</div>
#set( $view = "templates/objects/$entity.service/${entity.type}.vm" )
#parse($view)