<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>List of workflows instances</strong></h3>
	</div>
	<div class="panel-body">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Key</th>
					<th>Name</th>
					<th>Initier</th>
					<th>Activity</th>
					<th>Suspended</th>
				</tr>
			</thead>
			<tbody>
			#foreach( $entry in $entity.entries )
				<tr>
					<td>$foreach.count</td>
					<td>$entry.key</td>
					<td>$entry.name</td>
					<td>$entry.initier</td>
					<td>$entry.activity</td>
					<td>$entry.suspended</td>
				</tr>
			#end
			</tbody>
		</table>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Create a new Hello World Instance</strong></h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" action="./instances" method="post">
			<input type="hidden" id="definition" name="definition" value="helloworld"/>
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-4">
					<input type="text" class="form-control input-sm" id="name" name="name" placeholder="Enter Greeter Name"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default btn-sm">Start HelloWorld Workflow</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!--
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Create a new Publish Request Instance</strong></h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" action="./instances/publishRequest" method="post">
			<div class="form-group">
				<label for="workspace" class="col-sm-2 control-label">Workspace</label>
				<div class="col-sm-4">
					<input type="text" class="form-control input-sm" id="workspace" name="workspace" placeholder="Enter Workspace Name"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default btn-sm">Send Publish Request</button>
				</div>
			</div>
		</form>
	</div>
</div>
-->