<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Project Detail</strong></h3>
  </div>
  <div class="panel-body">
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Key</strong></p></div>
	  <div class="col-md-10">$entity.key</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Full Name</strong></p></div>
	  <div class="col-md-10">$entity.fullname</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Email</strong></p></div>
	  <div class="col-md-10">$entity.email</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Status</strong></p></div>
	  <div class="col-md-10">$entity.status</div>
    </div>
  </div>
</div> 
<ul class="pagination">
	#foreach( $link in $entity.links )
		<li><a href="$link.uri">$link.rel</a></li> 
	#end
</ul>