<div class="panel panel-default">
  <div class="panel-heading">
  	<h3 class="panel-title"><strong>Listing processes for initier</strong></h3>
  </div>
  #if ( $params['initier'] ) 
  <table class="table table-condensed table-hover">
	<thead>
       	<tr>
       		<th>#</th>
       		<th>Key</th>
       		<th>Processes</th>
      	</tr>
   	</thead>
   	<tbody>
	#foreach( $entry in $entity.entries.keySet() )
		<tr>
			<td>$foreach.count</td>
			<td>$entry</td>
			<td>
				<div class="btn-group">
   				#foreach( $link in $entity.entries.get($entry) )
   					<a class="btn btn-default btn-xs" href="$link.uri">$link.rel</a> 
   				#end
   				</div>
   			</td>
   		</tr>
	#end
	</tbody>
  </table>
  #{else}
  <div class="panel-body">
  	Listing of processes is only allowed for a specific initier
  </div>
  #end
</div>
#foreach( $link in $entity.links )
	#if( $link.rel == "create" )
	<div class="panel panel-default">
		<div class="panel-heading">
  			<h3 class="panel-title"><strong>Create</strong> a new process</h3>
  		</div>
		<div class="panel-body">
			<form class="form-horizontal" role="form" method="POST" action="$link.uri">
 				<div class="form-group">
    				<label for="type" class="col-md-2 control-label">Type</label>
    				<div class="col-md-6">
    					<input type="text" class="form-control" id="type" name="type" placeholder="Process Type">
    				</div>
	  			</div>
  				<div class="form-group">
    				<label for="name" class="col-md-2 control-label">Name</label>
    				<div class="col-md-6">
    					<input type="text" class="form-control" id="name" name="name" placeholder="Process name">
    				</div>
	  			</div>
	  			<div class="form-group">
    				<label for="name" class="col-md-2 control-label">Keys</label>
    				<div class="col-md-6">
    					<input type="text" class="form-control" id="keys" name="keys" placeholder="Keys">
    				</div>
	  			</div>
  				<div class="form-group">
		  			<div class="col-md-offset-2 col-md-6">
		  				<button type="submit" class="btn btn-default">Create</button>
		  			</div>
		  		</div>
			</form>
		</div>
	</div>
	#end
#end
		