body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 100%;
}
.container-narrow > hr {
    margin: 30px 0;
}

.nav {
    margin-top: 77px;
}

.nav > li {
    font-weight: bold;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #1e84be;
    color: #FFFFFF;
}

a, a:hover, a:focus {
    color: #1e84be;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #e3e3e3;
}

.masthead {
    border-bottom: 1px solid #e3e3e3;
}

.tab-content {
    width:100%;
}

.tab-pane {
    margin: 15px 40px 15px 40px;
}
