trustmanager.disabled=true

diffusion.api.url=https://localhost:8443/api
diffusion.auth.url=https://localhost:8443/auth
diffusion.auth.realm=ortolang

client.app.name=import
client.app.secret=
client.auth.callback.url=
client.auth.revoke.url=