<div class="panel panel-default">
  <div class="panel-heading">
  	<h3 class="panel-title"><strong>Listing all collections</strong></h3>
  </div>
  <div class="panel-body">
  	<p>listing of collections is not allowed</p>
  </div>
</div>
#foreach( $link in $entity.links )
	#if( $link.rel == "create" )
	<div class="panel panel-default">
		<div class="panel-heading">
  			<h3 class="panel-title"><strong>Create</strong> a new collection</h3>
  		</div>
		<div class="panel-body">
			<form class="form-horizontal" role="form" method="POST" action="$link.uri">
 				<div class="form-group">
    				<label for="name" class="col-md-2 control-label">Name</label>
    				<div class="col-md-6">
    					<input type="text" class="form-control" id="name" name="name" placeholder="Project's name">
    				</div>
	  			</div>
  				<div class="form-group">
    				<label for="description" class="col-md-2 control-label">Description</label>
    				<div class="col-md-4">
    					<textarea class="form-control" id="description" name="description" rows="3"></textarea>
    				</div>
	  			</div>
	  			<div class="form-group">
		  			<div class="col-md-offset-2 col-md-6">
		  				<button type="submit" class="btn btn-default">Create</button>
		  			</div>
		  		</div>
			</form>
		</div>
	</div>
	#end
#end
		