<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Object Detail</strong></h3>
  </div>
  <div class="panel-body">
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Key</strong></p></div>
	  <div class="col-md-10">$entity.key</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Name</strong></p></div>
	  <div class="col-md-10">$entity.name</div>
    </div>
        <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Type</strong></p></div>
	  <div class="col-md-10">$entity.contentType</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Size</strong></p></div>
	  <div class="col-md-10">$entity.size</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Downloads</strong></p></div>
	  <div class="col-md-10">$entity.nbReads</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Description</strong></p></div>
	  <div class="col-md-10">$entity.description</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Preview</strong></p></div>
	  <div class="col-md-10">$entity.preview</div>
    </div>
  </div>
</div> 
<ul class="pagination">
	#foreach( $link in $entity.links )
		<li><a href="$link.uri">$link.rel</a></li> 
	#end
</ul>