<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Specific informations about this collection</strong></h3>
  </div>
  <div class="panel-body">
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Name</strong></p></div>
	  <div class="col-md-10">$entity.object.name</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Description</strong></p></div>
	  <div class="col-md-10">$entity.object.description</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Root Collection</strong></p></div>
	  <div class="col-md-10">$entity.object.root</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Clock</strong></p></div>
	  <div class="col-md-10">$entity.object.clock</div>
    </div>
    #if( $entity.object.metadatas.size() == 0 ) 
    <div class="row">
      <div class="col-md-2"><p class="text-right"><strong>Metadatas</strong></p></div>
      <div class="col-md-10"><em>no metadatas associated with this collection</em></div>
    </div>
    #else
	    #foreach( $metadata in $entity.object.metadatas )
	    <div class="row">
	      <div class="col-md-2">#if( $foreach.first )<p class="text-right"><strong>Metadatas</strong></p>#end</div>
	      <div class="col-md-10">$metadata.name : <a href="./$metadata.key">$metadata.key</a></div>
	    </div>
	    #end
	#end
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
  	<h3 class="panel-title"><strong>Collection content</strong></h3>
  </div>
  <div class="panel-body">
  	  #if ( $entity.object.elements.size() == 0 )
  	  	 <div class="row">
			<div class="col-md-12">Collection is empty</div>
    	 </div>
      #else
	  <table class="table table-condensed table-hover">
		 <thead>
		   	<tr>
		   		<th>#</th>
		   		<th>Type</th>
		   		<th>Name</th>
		   		<th>Key</th>
		  	</tr>
		 </thead>
		 <tbody>
		    #foreach( $element in $entity.object.elements )
			<tr>
				<td>$foreach.count</td>
				<td>$element.type</td>
				<td>$element.name</td>
				<td><a href="./$element.key">$element.key</a></td>
		   	</tr>
		    #end
		 </tbody>
	  </table>
	  #end
  </div>	 
</div>
