<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Specific informations about this metadata object</strong></h3>
  </div>
  <div class="panel-body">
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Name</strong></p></div>
	  <div class="col-md-10">$entity.object.name</div>
    </div>
        <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Type</strong></p></div>
	  <div class="col-md-10">$entity.object.mimeType</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Size</strong></p></div>
	  <div class="col-md-10">$entity.object.size</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Format</strong></p></div>
	  <div class="col-md-10">$entity.object.format</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Target</strong></p></div>
	  <div class="col-md-10">$entity.object.target <a href="./$entity.object.target">direct access</a></div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Content</strong></p></div>
	  #if( $entity.object.stream == "" )
	  	<div class="col-md-10">no content or download restricted</div>
	  #else
	    <div class="col-md-10">$entity.object.stream <a href="$entity.key/download">direct download</a></div>
	  #end
    </div>
  </div>
</div> 