<div class="panel panel-default">
  <div class="panel-heading">
  	<h3 class="panel-title"><strong>Object's properties</strong></h3>
  </div>
  <div class="panel-body">
	  <table class="table table-condensed table-hover">
		<thead>
	       	<tr>
	       		<th>Name</th>
	       		<th>Value</th>
	      	</tr>
	   	</thead>
	   	<tbody>
		#foreach( $entry in $entity )
			<tr>
				<td>$entry.name</td>
				<td>$entry.value</td>
	   		</tr>
		#end
		</tbody>
	  </table>
  </div>
</div>