<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Showing process '$entity.key'</strong></h3>
  </div>
  <div class="panel-body">
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Name</strong></p></div>
	  <div class="col-md-10">$entity.name</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Type</strong></p></div>
	  <div class="col-md-10">$entity.type</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Initier</strong></p></div>
	  <div class="col-md-10">$entity.initier</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>State</strong></p></div>
	  <div class="col-md-10">$entity.state</div>
    </div>
    <div class="row">
    	<div class="col-md-2"><p class="text-right"><strong>Params</strong></p></div>
      	<div class="col-md-10">
    		#foreach( $param in $entity.params.keySet() )
      			$param: $entity.params.get($param)<br/>
      		#end
      	</div>
    </div>
    <div class="row">
		<div class="col-md-2"><p class="text-right"><strong>Log</strong></p></div>
		<div class="col-md-10"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<pre>$entity.log</pre>
		</div>
	</div>
  </div>
</div>
