<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Showing tool '$entity.key'</strong></h3>
  </div>
  <div class="panel-body">
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Name</strong></p></div>
	  <div class="col-md-10">$entity.name</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Description</strong></p></div>
	  <div class="col-md-10">$entity.description</div>
    </div>
    <div class="row">
	  <div class="col-md-2"><p class="text-right"><strong>Documentation</strong></p></div>
	  <div class="col-md-10">$entity.documentation</div>
    </div>
  </div>
</div>