<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>List of forms</strong></h3>
	</div>
	<div class="panel-body">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Key</th>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			#foreach( $entry in $entity.entries )
				<tr>
					<td>$foreach.count</td>
					<td>$entry.key</td>
					<td>$entry.name</td>
					<td>
						<div class="btn-group"><a class="btn btn-default btn-xs" href="forms/$entry.key">show definition</a></div>
					</td>
				</tr>
			#end
			</tbody>
		</table>
	</div>
</div>